langchain==0.2.7
langchain-anthropic==0.1.19
langchain-community==0.2.7
langchain-core==0.2.12
langchain-experimental==0.0.62
langchain-openai==0.1.14
langchain-text-splitters==0.2.2
langchainplus-sdk==0.0.10
langdetect==1.0.9
langgraph==0.1.6
langsmith==0.1.84
openai==1.35.10
streamlit-feedback
